@using FitnessProject.Core.Constants
@using FitnessProject.Core.Models
@using FitnessProject.Infrastructure.Data.Models
@model List<Exercise_VM>

@{
    ViewData["Title"] = "All Exercises";
}

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="~/css/exercise.css">

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Data table with all exercises</h3>
    </div>

    <div class="card-body">
        <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="row"><div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"></div></div><div class="row">
                <div class="col-sm-12">

                    <div class="cards">

                        @foreach (var exercise in Model)
                        {
                            <div class="card">
                                <img class="card__image" src="~/img/@exercise.Image" alt="">
                                <div class="card__content">
                                    <div class="row">
                                        <br>
                                        <div class="col-4">
                                            <p>
                                                @exercise.Name
                                            </p>
                                        </div>
                                        <div class="col-8">
                                            @if (User.IsInRole(UserConstants.Roles.Trainer) ||
                                           User.IsInRole(UserConstants.Roles.Administrator))
                                            {
                                                <div class="row">
                                                    <div class="col-4">
                                                        <a class="btn btn-block btn-info btn-sm" asp-controller="Exercise" asp-action="AddToFavourites" asp-route-exerciseName="@exercise.Name" asp-route-userEmail="@User.Identity?.Name">
                                                            <i class="fas fa-heart"></i>
                                                        </a>
                                                    </div>

                                                    <div class="col-4">
                                                            <a class="btn btn-block btn-info btn-sm" asp-controller="Exercise" asp-action="ExerciseInfo" asp-route-exerciseName="@exercise.Name" asp-route-targetView="ExerciseInfo">
                                                                <i class="fas fa-info-circle"></i>
                                                            </a>
                                                    </div>

                                                    <div class="col-4">
                                                        <form asp-page-handler="Delete" method="OnGetDelete" onclick="return confirm('Are you sure you want to delete this?')">
                                                            <a class="btn btn-block btn-danger btn-sm" asp-controller="Exercise" asp-action="Remove" asp-route-exerciseName="@exercise.Name">
                                                                <i class="fas fa-times"></i>
                                                            </a>
                                                        </form>
                                                    </div>

                                                </div>
                                            }
                                            else
                                            {
                                                <div class="row">
                                                    <div class="col-4">
                                                        <a class="btn btn-block btn-info btn-sm" asp-controller="Exercise" asp-action="AddToFavourites" asp-route-exerciseName="@exercise.Name" asp-route-userEmail="@User.Identity?.Name">
                                                            <i class="fas fa-heart"></i>
                                                        </a>
                                                    </div>

                                                    <div class="col-4">
                                                            <a class="btn btn-block btn-danger btn-sm" asp-controller="Exercise" asp-action="ExerciseInfo" asp-route-exerciseName="@exercise.Name">
                                                                <i class="fa-solid fa-circle-info"></i>
                                                            </a>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>





                </div>
            </div>
            @*<div class="row">
                <div class="col-sm-12 col-md-5"></div>
                <div class="col-sm-12 col-md-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                        <ul class="pagination">
                            <li class="paginate_button page-item previous disabled" id="example2_previous">
                                <a href="#" aria-controls="example2" data-dt-idx="0" tabindex="0" class="page-link">
                                    Previous
                                </a>
                            </li>

                            <li class="paginate_button page-item active">
                                <a href="#" aria-controls="example2" data-dt-idx="1" tabindex="0" class="page-link">
                                    1
                                </a>
                            </li>

                            <li class="paginate_button page-item ">
                                <a href="#" aria-controls="example2" data-dt-idx="2" tabindex="0" class="page-link">
                                    2
                                </a>
                            </li>

                            <li class="paginate_button page-item ">
                                <a href="#" aria-controls="example2" data-dt-idx="3" tabindex="0" class="page-link">
                                    3
                                </a>
                            </li>

                            <li class="paginate_button page-item ">
                                <a href="#" aria-controls="example2" data-dt-idx="4" tabindex="0" class="page-link">
                                    4
                                </a>
                            </li>

                            <li class="paginate_button page-item ">
                                <a href="#" aria-controls="example2" data-dt-idx="5" tabindex="0" class="page-link">
                                    5
                                </a>
                            </li>

                            <li class="paginate_button page-item ">
                                <a href="#" aria-controls="example2" data-dt-idx="6" tabindex="0" class="page-link">
                                    6
                                </a>
                            </li>

                            <li class="paginate_button page-item next" id="example2_next">
                                <a href="#" aria-controls="example2" data-dt-idx="7" tabindex="0" class="page-link">
                                    Next
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>*@
        </div>
    </div>

</div>


