@using FitnessProject.Infrastructure.Data.Models
@model Diet

@{
    ViewData["Title"] = $"{Model.Name}";
}

<div class="card mb-3" style="max-width: 60%;margin-left: 20%;">
    <div class="row no-gutters" style="text-align-last: center;">
        <div class="card-body">

            <h2 class="card-title">@Model.Name</h2>
            <br /><br />
            <p class="card-text">
                Breakfast: <br /> @Model.Breakfast
            </p>
            <p class="card-text">
                Lunch: <br /> @Model.Lunch
            </p>
            <p class="card-text">
                Dinner: <br /> @Model.Dinner
            </p>
            <p class="card-text">
                Description: <br /> @Model.Description
            </p>
        </div>
        <div class="col-m-4">
            <a asp-controller="Diet" asp-action="MyDiets" class="btn btn-block btn-info" style="margin-top: 20px;">
                <i class="fas fa-caret-left"></i>
                Back
            </a>
        </div>
    </div>
</div>