@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
    Layout = null;
}

<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Font Awesome -->
<link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
<!-- icheck bootstrap -->
<link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="~/css/adminlte.min.css">


<section class="hold-transition login-page">
    <div class="login-box">
        <div class="card card-outline card-primary">

            <div class="card-header text-center">
                <a href="/" class="h1"><b>Fitness</b>Project</a>
            </div>

            <br />
            <p class="login-box-msg"><b>Register Confirmation</b></p>

            <div class="card-body">
               @* <p class="login-box-msg">Please check your email to reset your password.</p>*@
                @{
                    if (@Model.DisplayConfirmAccountLink)
                    {
                        <p class="login-box-msg">
                            This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
                            Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
                        </p>
                    }
                    else
                    {
                        <p class="login-box-msg">
                            Please check your email to confirm your account.
                        </p>
                    }
                }

            </div>
        </div>
    </div>
</section>






@section Scripts {
<partial name="_ValidationScriptsPartial" />

<!-- jQuery -->
<script src="~/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="~/js/adminlte.min.js"></script>
}







@*ORIGINAL CODE*@
@*<h1>@ViewData["Title"]</h1>
    @{
    if (@Model.DisplayConfirmAccountLink)
    {
    <p>
    This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
    Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
    </p>
    }
    else
    {
    <p>
    Please check your email to confirm your account.
    </p>
    }
    }
*@